# Xcode
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.xcworkspace/xcuserdata/
DerivedData/
*.ipa

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
.env/
pip-log.txt
pip-delete-this-directory.txt

# Flask
instance/
.webassets-cache

# Redis
dump.rdb

# Logs
*.log

# IDE
.vscode/
.idea/

# Environment variables
.env